<section>

    <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-all-xl u-padding-r-top u-padding-bottom-xxl">
              
        <h1 class="u-text-h2">Autenticazione effettuata con successo!</h1>
            <article class="Prose">
    
    

    <button class="Button Button--default u-text-r-xs u-inlineBlock btn-block"
            ng-click="avviaIstanza()"
        >Avvia</button>


    <h3>Apri l'istanza da presentare:</h3>        
    <a class="Button Button--info u-text-r-xs"  ui-click="avviaIstanza()" ui-sref-active="active">Avvia l'istanza</a>
    <h3>Presentare una nuova istanza cliccando il bottone seguente:</h3>      
    <a class="Button Button--info u-text-r-xs"  ui-sref="protocollo" ui-sref-active="active">Presenta una istanza</a>
    <h3>Visualizzare i dati di autenticazione:</h3>
    <a class="Button Button--info u-text-r-xs"  ui-sref="profile" ui-sref-active="active">Vedi dati profilo</a>
    <h3>Disconnettersi dal presente account:</h3>
    <a class="Button Button--info u-text-r-xs"  ui-sref="login" ui-sref-active="active">Disconnetti</a>
    

 
    
    
    
            </article>
    </div>        
    </section>



